.mh-log {
	max-width: 100%;
	height: auto;
	min-width: 150px;
}

#start {
	background-image: url("../../../assets/img/Backgrounds/Bg_Header.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
	font-weight: bold;
}
.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
	text-decoration: none;
	color: black;
}

.row {
	display: flex;
	margin-top: 30px;
	justify-content: space-around;
	align-items: center;
}

.login-button {
	padding: 5px 50px;
	color: var(--blue);
	background: white;
	border-radius: 20px;
	border: 1px var(--blue) solid;
	margin-bottom: 10px;
}

.follow-button {
	padding: 10px 55px;
	color: var(--blue);
	background: transparent;
	border-radius: 20px;
	border: 2px var(--blue) solid;
	margin-bottom: 10px;
}

.more-button {
	padding: 10px 55px;
	color: white;
	background: var(--blue);
	border-radius: 20px;
	border: none;
	margin-bottom: 10px;
	margin: 30px 0 80px 0;
	font-size: 1em;
	font-weight: bold;
}

#welcome img {
	transform: scaleX(-1);
	width: 80%;
	min-width: 250px;
	float: right;
}

#tecnologies img {
	width: 100%;
	min-width: 250px;
}

#follow {
	display: flex;
	margin: 40px 0 40px 0;
	justify-content: space-around;
	align-items: stretch;
}

#follow-img {
	flex: 60%;
	background-image: url("../../../assets/img/img_woloxer.png");
	height: 35vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px;
}

#follow-text {
	display: flex;
	flex: 40%;
	background: var(--grey);
	align-items: center;
	justify-content: center;
	padding: 30px;
}

#benefits {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	box-shadow: 0 12px 16px -16px rgba(0, 0, 0, 0.2);
}

.benefit {
	padding: 0 5px 0 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.benefit > h3 {
	font-size: 1.2em;
	font-weight: normal;
}

.benefit > img {
	width: 75px;
	height: 75px;
}

#footer {
	background-image: url("../../../assets/img/Backgrounds/Bg_Footer.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#requirements {
	display: flex;
	padding: 80px 0 80px 0;
	align-items: center;
}

#requirements-title {
	flex: 50%;
}

#requirements-list {
	flex: 50%;
}

#requirements-list > ul {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: stretch;
}

#requirements-list > ul > li {
	padding: 10px 0 10px 0;
}

@media screen and (max-width: 600px) {
	.row {
		flex-direction: column;
		height: auto;
		text-align: center;
	}

	#follow {
		flex-direction: column;
	}

	#requirements {
		flex-direction: column;
	}
}
