<div class="container">
  <form>
    <div>
      <label for="email">Correo</label>
      <input
        type="email"
        placeholder="Ingresa tu correo"
        name="emial"
        required
      />

      <label for="psw">Contraseña</label>
      <input
        type="password"
        placeholder="Ingresa tu contraseña"
        name="psw"
        required
      />

      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember" /> Recordarme
      </label>
    </div>

    <div>
      <button type="button">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
